@{
    ViewData["Title"] = "Grouping";
}

<div class="row">
    <div class="col-12">
        @using (Html.BeginForm())
        {
            <button class="btn btn-primary" type="submit" name="groupby" value="studentname">Group By Student Name</button>
            <button class="btn btn-primary" type="submit" name="groupby" value="year month">Group By Year, Month</button>
            <button class="btn btn-primary" type="submit" name="groupby" value="count">Group By Count</button>
        }
    </div>
</div>
