

@{
    ViewData["Title"] = "GroupingResult";
}

<div class="row">
    <div class="col-12">
        <h3>Result</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Data</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <td>
                            @x.Key
                        </td>
                        <td>
                          @x.Data
                                            
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

